<!doctype html>
<html lang="ru">
<head>

	<meta charset="utf-8">

	<title>GUSTOY SHOP & LOUNGE - Магазин</title>

	<meta name="title" content="Крутой магазин электронных сигарет, жидкостей и комплектующих">
	<meta name="description" content="Мы предлагаем лучшй ассортимент электронных сигарет, жидкостей и комплектующих">
	<meta name="keywords" content="Вейпинг,Новости вейп индустрии,электронные сигареты,жидкости для вейпов">
	<meta name="Address" content="г. Альметьевск, ул. Гагарина 16">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="main.css">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:300i,400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap&subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<script async src="preloader.js"></script>
	<script async src="shopCart.js"></script>
	<script async src="search.js"></script>
	<script async src="order.js"></script>

</head>
<body>
	{{{body}}}
</body>
</html>